<%= form_with method: :get do |form| %>
  <%= form.label :q, "Search for companies:" %>
  <%= form.text_field :q, value: params[:q], required: true %>
  <%= form.submit "Search" %>
<% end %>


<section>
  <h1>Companies</h1>

  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Status</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'company', collection: @companies %>
    </tbody>
  </table>
</section>
